@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #711b6d;
    width: 100%;
    overflow: hidden;
}

.ring {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ring i {
    position: absolute;
    inset: 0;
    border: 2px solid #822b2b;
    transition: 0.5s;
}

.ring i:nth-child(1) {
    --clr: #00ff0a;
    border-radius: 48% 40% 63% 37% / 41% 44% 10% 59%;
    animation: animate 1s linear infinite;
}

.ring i:nth-child(2) {
    border-radius: 14% 40% 56% 10%/38% 10% 63% 37%;
    animation: animate 8s linear infinite;
}

.ring i:nth-child(3) {
    border-radius: 41% 50% 56% 20%/38% 2% 63% 37%;
    animation: animate2 2s linear infinite;
}

.ring:hover i {
    border: 6px solid var(--clr);
    filter: drop-shadow(40 0 20px var(--clr));
}

@keyframes animate {
    0% {
        transform: perspective(10deg);
    }

    100% {
        transform: rotate3d()(360deg);
    }
}

@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

button {
    position: absolute;
    width: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

h5 {
    position: fixed;
    align-items: center;
    height: 15%;
    font-size: 1em;
    color: #fff;
}

.login .inputBx {
    position: relative;
    width: 100%;
}

button {
    position: relative;
    width: 20%;
    padding: 12px 20px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 40px;
    font-size: 1.2em;
    color: #fff;
    box-shadow: none;
    outline: none;
}

.login .inputBx input[type="submit"] {
    width: 100%;
    background: #0078ff;
    background: linear-gradient(45deg, #ff357a, #fff172);
    border: none;
    cursor: pointer;
}

.login .inputBx input::placeholder {
    color: rgba(255, 255, 255, 0.75);
}

.login .links {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.login .links a {
    color: #fff;
    text-decoration: none;
}